/*#unified-extensions-button {
    width: 0px !important;
    padding: 0px !important;
    list-style-image: none !important;
}*/

.tabbrowser-tab[image="chrome://branding/content/icon32.png"] .tab-content .tab-icon-image {
    display: none !important;
}

.tabbrowser-tab[image="chrome://browser/skin/privatebrowsing/favicon.svg"] .tab-content .tab-icon-image {
    display: none !important;
}

/*
.titlebar-buttonbox-container, .titlebar-spacer {
  display: none !important;
}
*/

@supports -moz-bool-pref("userChrome.hidden.urlbar_iconbox") {
  #identity-box[pageproxystate="valid"].notSecureText #identity-icon-label,
  #identity-box[pageproxystate="valid"].chromeUI #identity-icon-box,
  #identity-box[pageproxystate="valid"].extensionPage #identity-icon-box {
    display: none;
  }
  #identity-box[pageproxystate="valid"].notSecureText #identity-icon-box {
    padding-inline-end: 5px; /* Original: 8px */
  }
}

