:root {
    --in-content-page-background: Background !important;
    --newtab-background-color: Background !important;
    --newtab-background-color-secondary: ActiveCaption !important;
    --newtab-primary-action-background: AccentColor !important;
    --newtab-search-background-color: ActiveCaption !important;
    --in-content-primary-button-background: Highlight !important;
    --in-content-primary-button-background-hover: color-mix(in srgb, currentColor 12.5%, Highlight) !important;
    --in-content-primary-button-background-active: color-mix(in srgb, currentColor 25%, Highlight) !important;
    --in-content-box-border-color: ThreeDShadow !important;
    --in-content-box-background: ActiveCaption !important;
    --focus-outline-color: Highlight !important;
    --in-content-page-color: CaptionText !important;
    --in-content-table-background: ActiveCaption !important;
    --card-outline-color: ThreeDShadow !important;
}

html|button[autofocus]:enabled:hover, html|button[type="submit"]:enabled:hover, html|button.primary:enabled:hover, xul|button[default]:not([disabled="true"]):hover, xul|button.primary:not([disabled="true"]):hover {
    background-color: color-mix(in srgb, currentColor 12.5%, Highlight) !important;
    color: var(--in-content-primary-button-text-color-hover);
    border-color: var(--in-content-primary-button-border-hover);
}

html|button[autofocus], html|button[type="submit"], xul|button[default], button.primary {
    background-color: Highlight !important;
    color: var(--in-content-primary-button-text-color);
    border-color: var(--in-content-primary-button-border-color);
}

#customization-container {
    background-color: Background;
}

* {
    font-family: "JetBrainsMono Nerd Font" !important;
    font-size: 16px !important; 
}
