.background {
    background-color: rgba(0, 0, 0, 0.5);
}

#window-box {
    padding: 40px 64px;
    border: 2px solid #89DCEB;
    border-radius: 10px;
    box-shadow: #74c7ec 0px 0px 12px;
    background-color: rgba(30, 30, 46, 0.8);
}

#clock-label {
    font-size: 80px; 
}

#input-label {
    font-size: 0;
}
