@import url("css/leptonContent.css");

@-moz-document url-prefix(about:) {
    :root {
        --in-content-page-background: Background !important;
        --newtab-text-primary-color: #fbfbfe !important;
        --newtab-text-secondary-color: color-mix(in srgb, var(--newtab-text-primary-color) 70%, transparent);
        --newtab-background-color: Background !important;
        --newtab-background-color-secondary: ActiveCaption !important;
        --newtab-primary-action-background: AccentColor !important;
        --newtab-search-background-color: ActiveCaption !important;
        --in-content-primary-button-background: Highlight !important;
        --in-content-primary-button-background-hover: color-mix(in srgb, currentColor 12.5%, Highlight) !important;
        --in-content-primary-button-background-active: color-mix(in srgb, currentColor 25%, Highlight) !important;
        --in-content-box-border-color: ThreeDShadow !important;
        --in-content-box-background: ActiveCaption !important;
        --focus-outline-color: Highlight !important;
        --in-content-page-color: CaptionText !important;
        --in-content-table-background: ActiveCaption !important;
        --card-outline-color: Highlight !important;
    }

    html|button[autofocus]:enabled:hover, html|button[type="submit"]:enabled:hover, html|button.primary:enabled:hover, xul|button[default]:not([disabled="true"]):hover, xul|button.primary:not([disabled="true"]):hover {
        background-color: color-mix(in srgb, currentColor 12.5%, Highlight) !important;
        color: var(--in-content-primary-button-text-color-hover);
        border-color: var(--in-content-primary-button-border-hover);
    }

    html|button[autofocus], html|button[type="submit"], xul|button[default], button.primary {
        background-color: Highlight !important;
        color: var(--in-content-primary-button-text-color);
        border-color: var(--in-content-primary-button-border-color);
    }

    .contentSearchHeader,
    .contentSearchSuggestionEntry {
        font-size: 100% !important;
    }

    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    }
}

@-moz-document url("about:home"), url("about:newtab") {

    /*
    html {
        height: 100%;
    }

    body {
        background: url("background.png"), url("background.jpg") no-repeat center;
        background-size: cover;
    }
    */

    .logo {
        background-image: url("firefox.svg") !important;
    }

    .search-wrapper .search-handoff-button .fake-caret {top: 13px !important; inset-inline-start: 48px !important}
    .search-wrapper .logo-and-wordmark{order: 1 !important; margin-bottom: 0 !important; flex: 1 !important; flex-basis: 20% !important}
    .outer-wrapper .search-wrapper{padding: 0px !important; display: flex !important; flex-direction: row !important; flex-wrap: wrap !important; justify-content: center !important; align-items: center !important; align-content: space-around !important; gap: 20px 10px !important}
    .search-wrapper .logo-and-wordmark .logo{background-size: 60px !important; height: 60px !important; width: 60px !important}
    .search-wrapper .search-inner-wrapper{min-height: 42px !important; order: 2 !important; flex: 3 !important; flex-basis: 60% !important; top: 4px !important}
    .outer-wrapper.ds-outer-wrapper-breakpoint-override.only-search.visible-logo{display: flex !important; padding-top: 0px !important;vertical-align: middle}
    .customize-menu{border-radius: 10px 0 0 10px !important}
    #root > div{align-items: center; display: flex}
}


@-moz-document url("about:privatebrowsing") {
    .logo-and-wordmark, .info-border {
        display: none !important;
    }

    .search-handoff-button, .search-handoff-button:active, .search-handoff-button:enabled:hover:active {
        background: ActiveCaption var(--newtab-search-icon) 16px center no-repeat !important;
        background-size: 24px !important;
        padding-inline-start: 52px !important;
        padding-inline-end: 10px !important;
        padding-block: 0 !important;
        padding-inline-end: 15px !important;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15) !important;
        border: 1px solid transparent !important;
        border-radius: 8px !important;
        color: var(--newtab-text-primary-color) !important;
        fill: var(--newtab-text-secondary-color) !important;
    }

    .fake-textbox {
        color: var(--newtab-text-primary-color) !important;
        fill: var(--newtab-text-secondary-color) !important;
    }
    .search-inner-wrapper {
        min-height: 42px !important;
        height: auto !important;
    }
}
