/** Import Lepton stylesheet (Chrome) *****************************************/
@import url("css/leptonChrome.css");


/** Add your custom styles below **********************************************/

/* Enable option to edit bookmark URLs under Add Bookmark (blue star) menu */
/*
 * .editBMPanel_locationRow {
 *   display: initial !important;
 * }
*/

/* Disable Email Image/Audio/Video and Set as Desktop Background context menu items */
/*
 * #context-sendimage,
 * #context-sendvideo,
 * #context-sendaudio,
 * #context-setDesktopBackground {
 *   display: none !important;
 * }
*/


#unified-extensions-button, #unified-extensions-button > .toolbarbutton-icon{
    width: 0px !important;
    padding: 0px !important;
}

.tabbrowser-tab[image="chrome://branding/content/icon32.png"] .tab-content .tab-icon-image {
    display: none !important;
}

.tabbrowser-tab[image="chrome://browser/skin/privatebrowsing/favicon.svg"] .tab-content .tab-icon-image {
    display: none !important;
}

.titlebar-buttonbox-container, .titlebar-spacer {
  display: none !important;
}

:root {
    --toolbar-non-lwt-bgcolor: -moz-dialog !important;
}

:root,
dialog {
    --in-content-page-background: Background !important;
    --in-content-primary-button-background: AccentColor !important;
    --in-content-primary-button-background-hover: color-mix(in srgb, currentColor 12.5%, AccentColor) !important;
    --in-content-primary-button-background-active: color-mix(in srgb, currentColor 25%, AccentColor) !important;
    --in-content-box-border-color: ThreeDShadow !important;
    --in-content-box-background: ActiveCaption !important;
    --focus-outline-color: Highlight !important;
    --in-content-page-color: CaptionText !important;
    --in-content-table-background: ActiveCaption !important;
    --card-outline-color: AccentColor !important;
}

@supports -moz-bool-pref("userChrome.hidden.urlbar_iconbox") {
  #identity-box[pageproxystate="valid"].notSecureText #identity-icon-label,
  #identity-box[pageproxystate="valid"].chromeUI #identity-icon-box,
  #identity-box[pageproxystate="valid"].extensionPage #identity-icon-box {
    display: none;
  }
  #identity-box[pageproxystate="valid"].notSecureText #identity-icon-box {
    padding-inline-end: 5px; /* Original: 8px */
  }
}
